<a href="https://colab.research.google.com/github/InstitutodaVinci3/Diretorio-Teste/blob/master/Aula%204%20Amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/My Drive/Dados
!ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Dados
 breast_cancer.csv		     dadosgovbr---20182osemestre.csv
 breast_cancer_missing.csv	     diagnosis.zip
'breast-cancer-wisconsin (1).data'   RELATORIO_DTB_BRASIL_MUNICIPIO.csv
 dadosgovbr---2016.csv

In [ ]:
#Coletar os datasets a seguir:
#'breast_cancer.csv' = https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29 https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice)
#Vamos abordar 2 métodos de amostragem:

#1.	Amostragem Aleatória Simples - Um determinado número de elementos é retirado 
#da população de forma aleatória, onde todos os elementos têm a mesma probabilidade 
#de serem selecionados para a amostra.

#Exemplo – analisando o Dataframe:
import pandas
dados = pandas.read_csv('breast_cancer.csv')
# gerando uma amostra aleatoria simples de 100 elementos
# da base breast cancer, sem reposicao
dados.sample(100)

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
431    907915         B  ...                  0.09359          NaN
386    902975         B  ...                  0.08824          NaN
79    8610908         B  ...                  0.07918          NaN
29     853201         M  ...                  0.07919          NaN
65     859283         M  ...                  0.08911          NaN
..        ...       ...  ...                      ...          ...
117    864729         M  ...                  0.10650          NaN
137    868682         B  ...                  0.06765          NaN
162    871201         M  ...                  0.09223          NaN
424    907145         B  ...                  0.08009          NaN
11   84610002         M  ...                  0.10480          NaN

[100 rows x 33 columns]

In [ ]:
# gerando uma amostra aleatoria simples de 100 elementos
# da base breast cancer, com reposicao
dados.sample(100, replace=True)

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
472    911384         B  ...                  0.08273          NaN
39     855138         M  ...                  0.10710          NaN
293    891703         B  ...                  0.07007          NaN
232  88203002         B  ...                  0.07307          NaN
538    921092         B  ...                  0.09938          NaN
..        ...       ...  ...                      ...          ...
243  88411702         B  ...                  0.06321          NaN
10     845636         M  ...                  0.08452          NaN
388    903011         B  ...                  0.10430          NaN
492    914062         M  ...                  0.07625          NaN
93     862009         B  ...                  0.06603          NaN

[100 rows x 33 columns]

In [ ]:
#2.	Amostragem Aleatória Estratificada - Essa amostragem consiste em dividir 
#toda a população em diferentes grupos ou estratos diferentes, de maneira que um
#indivíduo só pode fazer parte de um único grupo e nenhum desses indivíduos pode
#ficar de fora de um estrato, a seleção de cada um dos indivíduos é feita de 
#forma aleatória.

import pandas as pd
dados = pandas.read_csv('breast_cancer.csv')
# tamanho da amostra estratificada
tamanho_amostra = 100
# obtendo as classes da base de dados
classes = dados['diagnosis'].unique()
# calculando a quantidade de amostras por classe
# neste exemplo, serao amostradas as mesmas
# quantidades para cada classe
qtde_por_classe = round(tamanho_amostra / len(classes))
# nesta lista armazenaremos, para cada classe, um
# pandas.DataFrame com suas amostras
amostras_por_classe = []
for c in classes:
  # obtendo os indices do DataFrame
  # cujas instancias pertencem a classe c
  indices_c = dados['diagnosis'] == c
  # extraindo do DataFrame original as observacoes da
  # classe c (obs_c sera um DataFrame tambem)
  obs_c = dados[indices_c]
  # extraindo a amostra da classe c
  # caso deseje-se realizar amostragem com reposicao
  # ou caso len(obs_c) < qtde_por_classe, pode-se
  # informar o parametro replace=True
  amostra_c = obs_c.sample(qtde_por_classe)
  # armazenando a amostra_c na lista de amostras
  amostras_por_classe.append(amostra_c)
  # concatenando as amostras de cada classe em
  # um único DataFrame
  amostra_estratificada = pd.concat(amostras_por_classe)
amostra_estratificada

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
533  91930402         M  ...                  0.06386          NaN
237    883263         M  ...                  0.07127          NaN
229    881861         M  ...                  0.12430          NaN
11   84610002         M  ...                  0.10480          NaN
65     859283         M  ...                  0.08911          NaN
..        ...       ...  ...                      ...          ...
327    895299         B  ...                  0.07037          NaN
90     861648         B  ...                  0.07246          NaN
144    869254         B  ...                  0.06769          NaN
154   8711002         B  ...                  0.08633          NaN
406    905189         B  ...                  0.07012          NaN

[100 rows x 33 columns]

In [ ]:
#Tratamento da Amostra

#Na amostragem podemos ter problemas como dados ausentes. 
#Uma alternativa que pode ser utilizada para a solução de tal problema é a 
#remoção de colunas que contenham valores ausentes. Entretanto, deve-se perceber que
#uma grande quantidade de informações relevantes pode acabar sendo descartada (por exemplo,
#se muitas colunas possuírem valores ausentes, tem-se uma redução significativa da base de dados).
#Portanto, uma alternativa bastante comum é a inserção automática de tais valores, utilizando alguma medida
#capaz de estimá-los. Comumente, tal medida consiste na média, mediana ou moda do respectivo atributo.
#Em Python, a inserção automática pode ser realizada por meio do código abaixo. 

import pandas

# carrega uma versao do conjunto de dados contendo valores
# ausentes
dados = pandas.read_csv('breast_cancer_missing.csv')
# cada valor ausente eh indicado por um
# 'Not a Number' (numpy.nan)
# isso pode ser verificado conforme abaixo
# onde 'valores_ausentes' sera um DataFrame em que
# cada posicao indica se o valor esta ausente
# (True) ou nao (False)
valores_ausentes = dados.isnull()
valores_ausentes

        id  diagnosis  ...  Unnamed: 32  area_worst\t
0    False      False  ...         True          True
1    False      False  ...         True          True
2    False      False  ...         True          True
3    False      False  ...         True          True
4    False      False  ...         True          True
..     ...        ...  ...          ...           ...
564  False      False  ...         True          True
565  False      False  ...         True          True
566  False      False  ...         True          True
567  False      False  ...         True          True
568  False      False  ...         True          True

[569 rows x 34 columns]

In [ ]:
# calculando as medias dos atributos
# 'medias' resulta em uma variavel do tipo 'Series',
# o qual consiste em uma implementacao da Pandas
# de um numpy.array com cada elemento contendo
# um rotulo (ou nome)
medias = dados.mean()
# por fim, a insercao de valores sera realizada pela
# funcao fillna, onde o parametro inplace=True indica
# para os valores serem inseridos no próprio DataFrame
# (caso seja falso, uma copia do DataFrame original sera
# retornada contendo os valores preenchidos)
dados.fillna(medias, inplace=True) 
dados

           id diagnosis  ...  Unnamed: 32  area_worst\t
0      842302         M  ...          NaN           NaN
1      842517         M  ...          NaN           NaN
2    84300903         M  ...          NaN           NaN
3    84348301         M  ...          NaN           NaN
4    84358402         M  ...          NaN           NaN
..        ...       ...  ...          ...           ...
564    926424         M  ...          NaN           NaN
565    926682         M  ...          NaN           NaN
566    926954         M  ...          NaN           NaN
567    927241         M  ...          NaN           NaN
568     92751         B  ...          NaN           NaN

[569 rows x 34 columns]

In [ ]:
#Uma técnica muito utilizada opara redução de dimensionalidade é o Principal Component Analysis (PCA). 
#O PCA consiste em uma técnica estatística que utiliza uma transformação linear para reexpressar um conjunto
#de atributos em um conjunto menor de atributos não correlacionados linearmente, mantendo boa parte
#das informações contidas nos dados originais. Ou seja, o PCA visa:

#Extrair apenas as informações mais relevantes de um conjunto de dados;
#Comprimir o tamanho do conjunto de dados original, simplificando assim sua descrição;
#Permitir a análise da estrutura dos objetos e dos atributos de um conjunto de dados. 
#No Python fazemos assim:

import pandas
from sklearn.decomposition import PCA
dados = pd.read_csv('breast_cancer.csv')

# Obtendo os nomes das colunas.
cols = list(dados.columns)
# Removendo colunas que nao serao inclusas
# na reducao de dimensionalidade.
cols.remove('id')
cols.remove('diagnosis')
cols.remove('Unnamed: 32')
# Instanciando um PCA. O parametro n_components
# indica a quantidade de dimensoes que a base
# original sera reduzida.
pca = PCA(n_components=2, whiten=True)
# Aplicando o pca na base breast_cancer.
# O atributo 'values' retorna um numpy.array
# de duas dimensões (matriz) contendo apenas
# os valores numericos do DataFrame.
dados_pca = pca.fit_transform(dados[cols].values)
# O metodo fit_transform retorna outro numpy.array
# de dimensao numero_objetos x n_components.
# Apos isso, instancia-se um novo DataFrame contendo
# a base de dados original com dimensionalidade
# reduzida.
dados_pca = pd.DataFrame(dados_pca,
columns=['comp1', 'comp2'])
dados_pca

        comp1     comp2
0    1.741511 -3.437667
1    1.905103  0.182811
2    1.494804  0.457978
3   -0.611226 -0.788082
4    1.396552  2.214534
..        ...       ...
564  2.122771  1.289165
565  1.568697  0.901268
566  0.472104  0.556187
567  1.688545  0.399176
568 -1.158154 -1.036772

[569 rows x 2 columns]